$spacer: 1rem !default;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // direction: rtl; // NOTE: just change the direction
  height: 100%;
  overflow: hidden;
  height: calc(var(--vh, 1vh) * 100); // NOTE: `--vh` must generated via js
}

.container-wrap {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--color-primary-p-50);
  width: 100%;
  height: 100%;

  .-main {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    justify-content: center;
    padding: $spacer;
  }

  .-side {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #00b894;
  }
}

@media screen and (min-width: 768px) {
  .container-wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #f4f5f7;

    .-main {
      align-items: center;
    }

    .-side {
      height: auto;
      position: relative;
      padding: 40px;
    }
  }
}